// utils styles

@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/_placeholders";

// base styles

@import "./base/base";
@import "./base/reset";

// components styles

@import "./components/buttons";
@import "./components/conteiner";
@import "./components/btn";
@import "./components/address";
@import "./components/logo";
@import "./components/mobile-menu";
@import "./components/modal-form";

// layout styles

@import "./layout/header";
@import "./layout/navigation";
@import "./layout/contacts";
@import "./layout/hero";
@import "./layout/benefits";
@import "./layout/profession";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/portfolio";
