:root {
    /* fonts */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /* text colors */
    --main-txt-cl: #212121;
    --main-txt-item-cl: #757575;
    --accent-txt-cl: #2196f3;
    --logo-style-cl: #000000;
    --header-phone-number: #757575;
    --hero-txt-cl: #ffffff;
    /* bg colors */
    --Dark-bg-cl-1: #2f303a;
    --hero-button-bg-cl: #188ce8;
    --portfolio-buttons-bg-cl: #f5f4fa;
    --footer-socil-link-accent-cl: #44454e;
    --backdrop-cl: rgba(0, 0, 0, 0.2);
    --prrofession-bg-cl: rgba(47, 48, 58, 0.8);
    --overlay-bg-cl: rgba(33, 150, 243, 0.9);
    /* others */
    --social-link-cl: #afb1b8;
    --social-link-accent-cl: #ffffff;
    --social-link-bg-accent-cl: #2196f3;
    --anim-fast: 250ms;
    --indent: 30px;
    --items: 1;
}