.benefits {
  @extend %section;
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__list {
  @extend %reset-list;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: auto;
  @media screen and (min-width: 768px) {
    --items: 2;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    --items: 4;
  }
}

.benefits__item {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--main-txt-item-cl);
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.benefits__block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--portfolio-buttons-bg-cl);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.benefits__header {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--main-txt-cl);
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
