.contacts {
  @extend %reset-list;
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    gap: 30px;
  }
}

.contacts__link {
  display: block;

  transition-property: color;

  transition-duration: 250ms;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__mail,
.contacts__phone-number {
  @extend %reset-link;
  font-weight: 500;
  color: var(--header-phone-number);
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    font-size: 12px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
