.team {
  background-color: var(--portfolio-buttons-bg-cl);
  @extend %section;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 35);
  text-align: center;
  color: var(--main-txt-cl);
}

.team__list {
  @extend %reset-list;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.team__item {
  background-color: var(--hero-txt-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  @media screen and (min-width: 768px) {
    --items: 2;
  }
  @media screen and (min-width: 1200px) {
    --items: 4;
  }
}

.teammate {
  padding: 30px;
}

.teammate__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--main-txt-cl);
  margin-bottom: 10px;
}

.teammate__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--main-txt-item-cl);
  margin-bottom: 16px;
}

.teammate__list {
  @extend %reset-list;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.teammate__link {
  @extend %reset-link;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-link-cl);

  transition-property: color, background-color;

  transition-duration: 250ms;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--social-link-accent-cl);
    background-color: var(--social-link-bg-accent-cl);
  }
}

.teammate__icon {
  fill: currentColor;
}
